/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
}

#streamName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: fixed;
    bottom: 20px;
    right: 100px; /* Adjust to position left of the play/pause button */
    max-width: 200px; /* Adjust as needed */
    text-align: right;
    line-height: 60px; /* Match the height of the play/pause button */
}

#volumeSlider {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50%;
    height: 60px; /* Match the height of the play/pause button */
}

/* Timer styles */
#timerDisplay, .additional-timer .timer-display {
    cursor: pointer;
    font-size: 15rem;
    margin-top: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.startPauseBtn {
    border-color: #94c3e9; /* Blue border for start/pause button */
}

.resetBtn {
    border-color: #adadad; /* Gray border for reset button */
}

.deleteBtn {
    border-color: #f0837c; /* Red border for delete button */
}

.timer-control {
    margin: 10px;
}

.additional-timer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    #additionalTimers.grid-view {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .additional-timer {
        flex: 1 1 calc(33.333% - 40px); /* Adjust the width of each timer */

    }
}

.sound-btn img {
    width: 100%;
    height: auto;
    max-width: 100px; /* Define the maximum width based on the smallest image */
    max-height: 100px; /* Define the maximum height based on the smallest image */
    object-fit: cover;
    border-radius: 10px;
}

#addTimerBtn, #playPauseBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #28a745; /* Green background */
    color: #fff; /* White text color */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#addTimerBtn:hover, #playPauseBtn:hover {
    background-color: #218838; /* Darker green on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#dateDisplay {
    margin-top: 5vh;
}

#timeDisplay {
    font-size: 10rem;
    margin-top: 15vh;
}

/* Tabs styles */
.nav-tabs {
    border-bottom: none; /* Remove the horizontal bar/separator */
}

.nav-tabs .nav-link {
    border: none;
    color: #e0e0e0;
    background-color: transparent;
    font-size: 1.1rem;
    padding: 10px 20px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #28a745;
    border-radius: 5px;
}

.nav-tabs .nav-link:hover {
    color: #fff;
    background-color: #218838;
}