/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color */
}

.container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

/* Styling for each sound button */
.sound-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #1e1e1e; /* Dark button background */
    color: #e0e0e0; /* Light text color */
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for sound buttons */
.sound-btn:hover {
    background-color: #333333; /* Slightly lighter dark color */
}

/* Active (playing) button styling */
.sound-btn.playing {
    background-color: #444444; /* Different dark color for active state */
}

/* Icon styling */
.sound-btn i {
    font-size: 30px;
}

/* Play/Pause button styling */
.play-pause-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playPauseBtn {
    width: 40px;
    height: 40px;
    background-color: #1e1e1e; /* Dark button background */
    color: #e0e0e0; /* Light text color */
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playPauseBtn:hover {
    background-color: #333333; /* Slightly lighter dark color */
    transform: scale(1.1);
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

#volumeSlider {
    width: 300px; /* Increased width to 300px */
}

#streamName {
    font-size: 20px;
    color: #e0e0e0; /* Light text color */
    margin-left: 10px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Timer styles */
#timerDisplay, .additional-timer .timer-display {
    font-size: 20vw; /* Make the digits take the whole page */
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.timer-controls, .additional-timer .timer-controls {
    display: flex;
    justify-content: center;
    gap: 10px; /* Standard gap between buttons */
}

.timer-controls button {
    border: 2px solid; /* Add border */
    padding: 10px 20px; /* Standard padding */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px; /* Standard border radius */
    font-size: 16px; /* Standard font size */
    background-color: #1e1e1e; /* Muted grey background */
    color: #ffffff; /* White text color */
}

.timer-controls .startPauseBtn {
    border-color: #2196F3; /* Blue border for start/pause button */
}

.timer-controls .resetBtn{
    border-color: #9E9E9E; /* Gray border for reset button */
}

.timer-controls .deleteBtn {
    border-color: #F44336; /* Red border for delete button */
}

.timer-controls button:hover {
    background-color: #555555; /* Slightly lighter dark color for hover state */
}

.add-timer-btn {
    width: 40px;
    height: 40px;
    background-color: #1e1e1e; /* Dark button background */
    color: #e0e0e0; /* Light text color */
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.add-timer-btn:hover {
    background-color: #333333; /* Slightly lighter dark color */
    transform: scale(1.1);
}

.additional-timer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#additionalTimers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 600px) {
    #additionalTimers.grid-view {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .additional-timer {
        flex: 1 1 calc(33.333% - 40px); /* Adjust the width of each timer */
        margin: 10px;
    }
}

/* Tab styles */
.tabs {
    display: flex;
    justify-content: flex-start; /* Align tabs to the start (left) */
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #121212; /* Match the background color */
    padding: 0;
    border-bottom: none; /* Remove distinction between tabs and content */
}

.tab-button {
    background-color: #1e1e1e; /* Dark button background */
    color: #e0e0e0; /* Light text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* Space between tabs */
}

.tab-button.active {
    background-color: #333333; /* Slightly lighter dark color */
}

.tab-button:hover {
    background-color: #444444; /* Different dark color for hover state */
}

.tab-content {
    display: none;
    margin-top: 50px; /* Space for the tabs */
    padding: 20px; /* Padding for content distinction */
    background-color: #121212; /* Match the background color */
    border-radius: 10px; /* Rounded corners for content */
}

#today .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container take the whole page */
    text-align: center;
}

#dateDisplay {
    font-size: 3vw; /* Smaller font size for the date */
    margin: 10px 0;
}

#timeDisplay {
    font-size: 20vw; /* Larger font size for the time */
    width: 100%; /* Take the whole page in horizontal direction */
    margin: 10px 0;
}


